* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #1c2b33;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background-color: #121e26;
  padding: 40px 30px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 255, 255, 0.2);
  width: 320px;
  text-align: center;
}

.icon {
  font-size: 48px;
  color: #00ffd0;
  margin-bottom: 10px;
}

.login-box h2 {
  color: white;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

label {
  color: #7e8c99;
  font-size: 12px;
  display: block;
  text-align: left;
  margin-bottom: 5px;
  margin-top: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 8px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #00c3ff;
  color: white;
  font-size: 14px;
  outline: none;
}

select {
  width: 100%;
  padding: 8px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #00c3ff;
  color: white;
  font-size: 14px;
  outline: none;

  /* Hilangkan default appearance */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  /* Tambahkan icon dropdown */
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23ffffff' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;

  padding-right: 30px;
}

/* Untuk mengatur warna opsi saat dropdown dibuka (khusus Chrome) */
select option {
  background-color: #121e26;
  color: white;
}




.button-group {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
}

.login-btn,
.register-btn {
  background-color: transparent;
  border: 1px solid #00c3ff;
  color: #00c3ff;
  padding: 8px 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #00c3ff;
  color: #121e26;
}

.single-button {
  justify-content: center;
}


/* Forgot Password */
.forgot-password {
  text-align: right;
  margin-top: 5px;
}

.forgot-password a {
  font-size: 12px;
  color: #00c3ff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}
